<template name="mainDisplay">
    <ul>
        {{#each players}}
            <li class="player {{selectedClass}}">
                {{name}}: {{score}}
                <br>
            </li>
        {{/each}}
    </ul>

    {{#if showSelectedPlayer}}
    <p>
        <input class="increment" type="button" value="Give 5 points" {{disablePlayerActions}}>
        <input class="decrement" type="button" value="Take 5 points" {{disablePlayerActions}}>
        <input class="removePlayer" type="button" value="Remove Player" {{disablePlayerActions}}>
    </p>
    <p>Selected player: <strong>{{showSelectedPlayer.name}}</strong></p>
    {{/if}}
</template>